/* 11. Home-style-8 */

/*--------------------------------------------------------------
                11.1 wpo-service-section-s8
--------------------------------------------------------------*/

.wpo-service-section-s8 {
    padding-top: 90px;
    padding-bottom: 90px;

    @media (max-width:1399px) {
        margin: 0 10px;
    }

    @media (max-width:991px) {
        padding-bottom: 60px;
    }

    @media (max-width:767px) {
        padding-bottom: 50px;
    }

    .container-fluid {
        max-width: 1740px;
        margin: 0 auto;

    }

    .service-card {
        margin-left: 6px;
        margin-right: 6px;

        @media (max-width:1399px) {
            margin-left: 0px;
            margin-right: 0px;
        }
    }
}

/*--------------------------------------------------------------
                11.2 wpo-project-section-s8
--------------------------------------------------------------*/
.wpo-project-section-s8 {
    padding-bottom: 30px;

    @media (max-width:1199px) {
        padding-bottom: 90px;
    }

    @media (max-width:991px) {
        padding-bottom: 60px;
    }

    @media (max-width:767px) {
        padding-bottom: 50px;
    }

    .container-fulid {
        max-width: 1720px;
        margin: 0 auto;

        @media (max-width:1199px) {
            padding: 0 10px;
        }

        @media (max-width:991px) {
            max-width: 700px;
            margin: 0 auto;
        }
    }

    .title {
        max-width: 855px;
        margin-bottom: 90px;

        @media (max-width:1499px) {
            max-width: 655px;
        }

        @media (max-width:1399px) {
            max-width: 600px;
        }

        @media (max-width:1199px) {
            margin-bottom: 60px;
        }

        @media (max-width:991px) {
            max-width: 100%;
        }

        h2 {
            color: $black;
            font-size: 80px;
            font-weight: 700;
            font-family: $heading-font-s2;
            margin-bottom: 0;

            @media (max-width:1499px) {
                font-size: 60px;
            }

            @media (max-width:1399px) {
                font-size: 50px;
            }

            @media (max-width:991px) {
                font-size: 40px;
            }

            @media (max-width:575px) {
                font-size: 30px;
            }

        }

        span {
            color: $black;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 10px;
            display: block;
        }

    }

    .gallery-container {


        .col {

            &:first-child {
                .project-card-s7 {
                    max-width: 700px;
                    max-height: 850px;

                    @media (max-width:1199px) {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }

            &:nth-child(2) {
                margin-top: -250px;

                @media (max-width:1199px) {
                    margin-top: 0;
                }

                .project-card-s7 {
                    max-width: 700px;
                    margin-left: auto;

                    @media (max-width:1199px) {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }

            &:nth-child(3) {

                .project-card-s7 {
                    max-width: 650px;
                    max-height: 800px;
                    margin-left: auto;

                    @media (max-width:1199px) {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }

        }
    }


}

.project-card-s7 {
    position: relative;
    z-index: 1;
    max-width: 800px;
    max-height: 1000px;
    overflow: hidden;
    margin-bottom: 200px;
    display: block;

    @media (max-width:1199px) {
        max-width: 100%;
        max-height: 100%;
        margin-bottom: 30px;
    }

    .image {
        img {
            width: 100%;
            transform: scale(1);
            transition: all .3s ease-in-out;
        }
    }

    .content {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        padding: 35px 140px 35px 35px;
        z-index: 1;

        @media (max-width:1399px) {
            padding: 30px 120px 30px 35px;
        }

        @media (max-width:1199px) {
            padding: 25px 80px 25px 25px;
        }

        @media (max-width:575px) {
            padding: 20px 30px 20px 20px;
        }

        &::before {
            border-radius: 0px 10px 0px 0px;
            background: #fff;
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            left: -50px;
            bottom: -2px;
            z-index: -1;
            transform: skew(25deg);
            transition: all .3s ease-in-out;

            @media (max-width:1199px) {
                transform: skew(15deg);
                left: -20px;
            }

            @media (max-width:575px) {
                transform: none;
                left: 0px;
            }
        }

        h2 {
            margin-bottom: 0;

            a {
                color: $black;
                font-family: $heading-font-s2;
                font-size: 40px;
                font-weight: 500;

                @media (max-width:1399px) {
                    font-size: 30px;
                }

                @media (max-width:575px) {
                    font-size: 25px;
                }
            }
        }

        span {
            color: #666;
            font-size: 20px;
            font-weight: 400;
            line-height: 40px;

            @media (max-width:575px) {
                font-size: 18px;
            }
        }
    }

    &:hover {

        .image {
            img {
                transform: scale(1.1);
            }
        }

    }
}

/*--------------------------------------------------------------
                11.3 wpo-work-section-s3
--------------------------------------------------------------*/
.wpo-work-section-s3 {

    .wraper {
        margin-left: auto;
        max-width: 1840px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:1840px) {
            padding-left: 10px;
        }

        @media (max-width:991px) {
            padding: 0 10px;
            flex-direction: column-reverse;
        }

    }

    .left-content {
        max-width: 785px;
        padding-right: 140px;
        margin-top: -20px;

        @media (max-width:1499px) {
            max-width: 585px;
            padding-right: 50px;
        }

        @media (max-width:1399px) {
            max-width: 485px;
            padding-right: 10px;
        }

        @media (max-width:1199px) {
            max-width: 585px;
            padding-right: 0px;
        }

        @media (max-width:991px) {
            max-width: 100%;
            margin-top: 0;
        }

        h2 {
            color: $black;
            font-family: $heading-font-s2;
            font-size: 80px;
            font-weight: 700;
            margin-bottom: 70px;

            @media (max-width:1499px) {
                font-size: 50px;
                margin-bottom: 40px;
            }

            @media (max-width:1199px) {
                font-size: 40px;
                margin-bottom: 30px;
            }

            @media (max-width:575px) {
                font-size: 30px;
                margin-bottom: 30px;
            }
        }

        ul {
            li {
                list-style: none;
                border-bottom: 1px solid #DDD;
                margin-bottom: 25px;
                padding-bottom: 25px;

                @media (max-width:1499px) {
                    margin-bottom: 15px;
                    padding-bottom: 20px;
                }

                @media (max-width:1199px) {
                    margin-bottom: 10px;
                    padding-bottom: 15px;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    font-weight: 500;
                    color: #555;
                    font-family: $heading-font-s2;
                    font-size: 30px;

                    @media (max-width:1499px) {
                        font-size: 25px;
                    }

                    @media (max-width:1199px) {
                        font-size: 20px;
                    }
                }
            }
        }

    }

    .right-image {
        width: calc(100% - 785px);

        @media (max-width:1499px) {
            width: calc(100% - 585px);
        }

        @media (max-width:1399px) {
            width: calc(100% - 485px);
        }

        @media (max-width:1199px) {
            width: calc(100% - 585px);
        }

        @media (max-width:991px) {
            width: 100%;
            max-width: 660px;
            margin-bottom: 40px;
        }

        img {
            width: 100%;
        }
    }

}

/*--------------------------------------------------------------
                11.4 wpo-testimonial-section-s6
--------------------------------------------------------------*/

.wpo-testimonial-section-s6 {

    .testimonial-wrap {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        padding: 133px 0 160px;

        @media (max-width:991px) {
            padding: 90px 0 120px;
        }

        @media (max-width:767px) {
            padding: 80px 0 100px;
        }

        &::before {
            position: absolute;
            right: -141px;
            top: 0;
            width: 53%;
            height: 100%;
            content: "";
            background: #FFF;
            opacity: 0.6;
            transform: skewX(340deg);

            @media (max-width:1699px) {
                right: -70px;
                transform: skewX(350deg);
                width: 60%;
            }

            @media (max-width:1399px) {
                right: -70px;
                transform: skewX(350deg);
                width: 80%;
            }

            @media (max-width:1199px) {
                right: -70px;
                transform: skewX(350deg);
                width: 90%;
            }

            @media (max-width:991px) {
                right: 0px;
                transform: none;
                width: 100%;
            }
        }
    }

    .testimonial-slider-s4 {
        max-width: 700px;
        max-height: 505px;
        margin-left: auto;

        @media (max-width:767px) {
            padding: 0 10px;
        }

    }

    .item {

        .icon {
            width: 80px;
            height: 80px;
            margin-bottom: 60px;

            @media (max-width:767px) {
                margin-bottom: 10px;
                width: 70px;
                height: 70px;
            }
        }

        h3 {
            color: $black;
            font-family: $heading-font-s2;
            font-size: 35px;
            font-weight: 500;
            position: relative;
            padding-bottom: 70px;
            margin-bottom: 0;

            @media (max-width:767px) {
                font-size: 25px;
                line-height: 35px;
                padding-bottom: 50px;
            }

            @media (max-width:575px) {
                font-size: 20px;
                line-height: 30px;
                padding-bottom: 50px;
            }

            &::before {
                position: absolute;
                left: 0;
                content: '';
                width: 500px;
                height: 1px;
                background: $black;
                bottom: 10px;

                @media (max-width:575px) {
                    width: 300px;
                }
            }

            &::after {
                position: absolute;
                left: 0;
                bottom: 0px;
                content: '';
                width: 300px;
                height: 1px;
                background: $black;
                border-radius: 10px;

                @media (max-width:575px) {
                    width: 220px;
                }
            }

        }

        h4 {
            color: $black;
            font-family: $base-font;
            font-size: 40px;
            font-weight: 400;
            line-height: 50px;
            margin-top: 40px;

            @media (max-width:767px) {
                font-size: 30px;
                line-height: 30px;
                margin-top: 30px;
            }

            @media (max-width:575px) {
                font-size: 25px;
                line-height: 25px;
                margin-top: 30px;
            }
        }

        span {
            color: $black;
            font-size: 20px;
            font-weight: 400;
            line-height: 50px;

            @media (max-width:767px) {
                font-size: 18px;
                line-height: 40px;
            }
        }
    }

    .owl-nav {
        @media (max-width:991px) {
            display: none;
        }
    }

    .owl-prev {
        position: absolute;
        right: 120px;
        bottom: -160px;
        transform: translateY(-50%);
        background: transparent;
        border: 0;

        &::before {
            content: url(../images/left-arrow-2.svg);
            transition: all .3s ease-in-out;
        }

        span {
            display: none;
        }
    }

    .owl-next {
        position: absolute;
        right: 15px;
        bottom: -160px;
        transform: translateY(-50%);
        background: transparent;
        border: 0;

        &::before {
            content: url(../images/right-arrow-3.svg);
            transition: all .3s ease-in-out;
        }

        span {
            display: none;
        }

    }


    .owl-dots {
        bottom: -20px;
        position: relative;
        z-index: 1;
        display: none;

        @media (max-width:991px) {
            display: block;
        }
    }

    .owl-dot {
        border: 0;
        width: 10px;
        height: 12px;
        background: $black;
        border-radius: 100px;
        margin: 0 5px;

        &.active {
            background: $theme-primary-color;
        }
    }

}

/*--------------------------------------------------------------
                11.5 wpo-team-section-s2
--------------------------------------------------------------*/
.wpo-team-section-s2 {
    padding-bottom: 100px;
    max-width: 1720px;
    margin: 0 auto;

    @media (max-width:1799px) {
        margin: 0 10px;
    }

    @media (max-width:991px) {
        padding-bottom: 70px;
    }

    @media (max-width:757px) {
        padding-bottom: 60px;
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;

        @media (max-width:1199px) {
            flex-direction: column;
            text-align: center;
        }

        h2 {
            color: $black;
            margin-bottom: 0;
            max-width: 900px;
            font-family: $heading-font-s2;
            font-size: 80px;
            font-weight: 700;

            @media (max-width:1599px) {
                font-size: 70px;
                line-height: 90px;
            }

            @media (max-width:1399px) {
                font-size: 60px;
                line-height: 80px;
            }

            @media (max-width:1199px) {
                max-width: 100%;
                margin-bottom: 10px;
                font-size: 50px;
                line-height: 70px;
            }

            @media (max-width:757px) {
                font-size: 40px;
                line-height: 50px;
            }

            @media (max-width:575px) {
                font-size: 35px;
                line-height: 40px;
            }
        }

        p {
            color: $black;
            font-size: 25px;
            font-weight: 400;
            line-height: 40px;
            margin: 0;
            max-width: 508px;

            @media (max-width:1199px) {
                margin: 0 auto;
            }

            @media (max-width:575px) {
                font-size: 18px;
                line-height: 25px;
            }
        }
    }


    .team-wrap {
        margin: 0 -9px;

        @media (max-width:1399px) {
            margin: 0 5px;
        }
    }

    .team-card {
        padding: 0 9px;

        @media (max-width:1399px) {
            padding: 0px;
        }

        h2 {
            margin-top: 25px;
            margin-bottom: -15px;

            @media (max-width:1399px) {
                margin-top: 0px;
            }

            a,
            span {
                font-family: $heading-font-s2;
                color: #555;
                font-size: 40px;
                font-weight: 500;

                @media (max-width:1399px) {
                    font-size: 25px;
                    height: 40px !important;
                }
            }
        }


        .image {

            img {
                filter: grayscale(0%);
            }
        }

        &:hover {
            .image {
                img {
                    filter: grayscale(100%);
                }
            }
        }

    }

}

/*--------------------------------------------------------------
                11.6 wpo-cta-section-s3
--------------------------------------------------------------*/
.wpo-cta-section-s3 {
    background-repeat: no-repeat !important;
    background-size: cover !important;

    height: 750px;

    @media (max-width:1199px) {
        height: 500px;
    }

    @media (max-width:991px) {
        height: 100%;
        align-items: center;
    }

    .title {

        padding-top: 100px;

        @media (max-width:1199px) {
            padding-top: 100px;
        }

        @media (max-width:991px) {
            padding: 150px 0;
        }

        @media (max-width:767px) {
            padding: 100px 0;
        }

        h2 {

            color: $black;
            text-align: center;
            font-family: $heading-font-s2;
            font-size: 80px;
            font-weight: 700;
            margin-bottom: 30px;

            @media (max-width:1399px) {
                font-size: 70px;
            }

            @media (max-width:1199px) {
                font-size: 50px;
            }

            @media (max-width:991px) {
                font-size: 40px;
                margin-bottom: 20px;
            }

            @media (max-width:575px) {
                font-size: 30px;
            }
        }

        a {
            color: $black;
            position: relative;

            span {
                text-align: center;
                font-size: 20px;
                font-weight: 600;
                background: $white;
                border-radius: 30px;
                height: 60px;
                line-height: 60px;
                display: inline-block;
                padding: 0 30px;

                @media (max-width:767px) {
                    font-size: 16px;
                    height: 50px;
                    line-height: 50px;
                }
            }

            i {
                display: none;
            }

        }
    }
}