/* 19. project-single-page */


.project-single-page {
    padding-bottom: 110px;

    .container-fluid {
        margin: 0 auto;
        max-width: 1720px;
    }

    .project-image {
        margin-bottom: 100px;

        @media (max-width:1199px) {
            margin-bottom: 50px;
        }

        img {
            width: 100%;
        }
    }

    .content {
        max-width: 999px;

        @media (max-width:1199px) {
            margin-bottom: 50px;
        }

        h2 {
            color: #1E3446;
            font-size: 100px;
            font-weight: 400;
            line-height: 120px;
            margin-bottom: 40px;

            @media (max-width:1399px) {
                font-size: 80px;
                line-height: 90px;
                margin-bottom: 30px;
            }

            @media (max-width:1199px) {
                font-size: 50px;
                line-height: 70px;
                margin-bottom: 20px;
            }

            @media (max-width:767px) {
                font-size: 40px;
                line-height: 40px;
                margin-bottom: 10px;
            }
        }

        p {
            color: #626B72;
            font-size: 20px;
            font-weight: 400;
            line-height: 40px;

            @media (max-width:1399px) {
                font-size: 18px;
                line-height: 30px;
            }

            span {
                color: #626B72;
                font-size: 50px;

                @media (max-width:1399px) {
                    font-size: 34px;
                }
            }
        }
    }

    .description {
        border: 1px solid #C1C1C1;
        background: #FFF;
        margin-left: auto;

        @media (max-width:991px) {
            margin-left: 0;
            max-width: 400px;
        }

        h3 {
            text-align: center;
            color: #000;
            font-size: 50px;
            font-weight: 400;
            line-height: 60px;
            display: block;
            border-bottom: 1px solid #C1C1C1;
            padding: 20px 0;
            margin: 0;

            @media (max-width:1399px) {
                font-size: 40px;
                line-height: 50px;
                padding: 15px 0;
            }

            @media (max-width:1199px) {
                font-size: 30px;
                line-height: 40px;
                padding: 10px 0;
            }
        }

        ul {
            padding: 37px 60px;

            @media (max-width:1399px) {
                padding: 25px 40px;
            }

            @media (max-width:1199px) {
                padding: 20px 20px;
            }

            li {
                display: flex;
                align-items: flex-start;
                color: #666;
                font-size: 20px;
                font-weight: 400;
                line-height: 60px;

                @media (max-width:1199px) {
                    font-size: 18px;
                    line-height: 40px;
                }

                span {
                    text-align: left;
                    width: 60%;

                    @media (max-width:1399px) {
                        width: 40%;
                    }

                    &:last-child {
                        width: 40%;

                        @media (max-width:1399px) {
                            width: 60%;
                        }
                    }
                }
            }
        }
    }

}


.project-title {
    margin-bottom: 60px;

    @media (max-width:991px) {
        text-align: center;
        margin-bottom: 40px;
    }

    h2 {
        color: #1E3446;
        font-size: 100px;
        font-weight: 400;
        line-height: 120px;
        margin: 0;
        max-width: 700px;
        margin-right: auto;

        @media (max-width:1499px) {
            font-size: 80px;
            line-height: 100px;
        }

        @media (max-width:1199px) {
            font-size: 60px;
            line-height: 80px;
        }

        @media (max-width:991px) {
            margin: 0 auto;
            font-size: 50px;
            line-height: 60px;
        }

        @media (max-width:757px) {
            font-size: 40px;
            line-height: 50px;
        }
    }

    p {
        color: #626B72;
        font-size: 20px;
        font-weight: 400;
        line-height: 40px;
        margin: 0;
        max-width: 696px;
        margin-left: auto;

        @media (max-width:1199px) {
            font-size: 18px;
            line-height: 30px;
        }

        @media (max-width:991px) {
            margin: 0 auto;
        }
    }
}

/* solve-section */
.solve-section {
    background: #F9F9F9;
    padding: 100px 0;

    @media (max-width:991px) {
        padding: 90px 0;
        padding-bottom: 60px;
    }

    .container-fluid {
        margin: 0 auto;
        max-width: 1720px;
    }

    .image-wrap {
        .row {
            margin: 0 -18px;


        }
    }

    .image {
        margin: 0 9px;

        @media (max-width:1399px) {
            margin: 0;
        }

        @media (max-width:991px) {
            margin-bottom: 30px;
        }

        img {
            width: 100%;
        }
    }
}

/* summery-section */
.summery-section {
    padding: 100px 0;
    background: $white;

    .container-fluid {
        margin: 0 auto;
        max-width: 1720px;
    }

    .wraper {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        position: relative;
        overflow: hidden;

        height: 650px;

        @media (max-width:1199px) {
            height: 500px;
        }

        @media (max-width:991px) {
            height: 400px;
        }

        @media (max-width:767px) {
            height: 300px;
        }
    }

    .video-wrap {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .video-btn {
        border: 0;
        display: inline;
    }









}

/* RelatedProject-section */
.RelatedProject-section {
    padding: 100px 0;
    padding-top: 0;

    @media (max-width:991px) {
        padding-bottom: 60px;
        padding-top: 0;
    }

    .container-fluid {
        margin: 0 auto;
        max-width: 1720px;
    }

    .item-wrap {
        .row {
            margin: 0 -18px;
        }

        .item {
            margin: 0 9px;

            @media (max-width:1399px) {
                margin: 0;
            }

            @media (max-width:991px) {
                margin-bottom: 30px;
            }

            .image {
                img {
                    width: 100%;
                }
            }

            .content {
                text-align: center;
                margin-top: 28px;

                h2 {
                    margin: 0;

                    a {
                        color: #000;
                        text-align: center;
                        font-family: $heading-font-s2;
                        font-size: 45px;
                        font-weight: 500;
                        @media (max-width:1499px) {
                            font-size: 35px;
                        }
                        @media (max-width:1399px) {
                            font-size: 30px;
                        }
                        @media (max-width:1199px) {
                            font-size: 25px;
                        }
                    }
                }

                span {
                    color: #666;
                    font-size: 22px;
                    font-weight: 400;
                    line-height: 30px;
                    margin-top: 10px;
                    display: block;
                     @media (max-width:1199px) {
                        font-size: 18px;
                        line-height: 25px;
                        margin-top: 5px;
                     }
                }
            }

        }
    }

}