/* 20. service-single-page */


.service-single-page {
    padding-bottom: 110px;

    .container-fluid {
        margin: 0 auto;
        max-width: 1720px;
    }

    .service-image {
        margin-bottom: 100px;

        @media (max-width:1199px) {
            margin-bottom: 50px;
        }

        img {
            width: 100%;
        }
    }

    .content {
        max-width: 999px;

        @media (max-width:1199px) {
            margin-bottom: 50px;
        }

        h2 {
            color: #1E3446;
            font-size: 100px;
            font-weight: 400;
            line-height: 120px;
            margin-bottom: 40px;

            @media (max-width:1399px) {
                font-size: 80px;
                line-height: 90px;
                margin-bottom: 30px;
            }

            @media (max-width:1199px) {
                font-size: 50px;
                line-height: 70px;
                margin-bottom: 20px;
            }

            @media (max-width:767px) {
                font-size: 40px;
                line-height: 40px;
                margin-bottom: 10px;
            }
        }

        p {
            color: #626B72;
            font-size: 20px;
            font-weight: 400;
            line-height: 40px;

            @media (max-width:1399px) {
                font-size: 18px;
                line-height: 30px;
            }

            span {
                color: #626B72;
                font-size: 50px;

                @media (max-width:1399px) {
                    font-size: 34px;
                }
            }
        }
    }



    .video {
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        height: 578px;
        position: relative;
        margin-left: auto;

        @media (max-width:1399px) {
            height: 478px;
        }

        @media (max-width:991px) {
            margin-left: 0;
            max-width: 400px;
        }


        @media (max-width:991px) {
            height: 400px;
        }

        @media (max-width:767px) {
            height: 300px;
        }
    }

    .video-holder {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .video-btn {
        border: 0;
        display: inline;
    }

}


.service-title {
    margin-bottom: 60px;

    @media (max-width:991px) {
        text-align: center;
        margin-bottom: 40px;
    }

    h2 {
        color: #1E3446;
        font-size: 100px;
        font-weight: 400;
        line-height: 120px;
        margin: 0;
        max-width: 700px;
        margin-right: auto;

        @media (max-width:1499px) {
            font-size: 80px;
            line-height: 100px;
        }

        @media (max-width:1199px) {
            font-size: 60px;
            line-height: 80px;
        }

        @media (max-width:991px) {
            margin: 0 auto;
            font-size: 50px;
            line-height: 60px;
        }

        @media (max-width:757px) {
            font-size: 40px;
            line-height: 50px;
        }
    }

    p {
        color: #626B72;
        font-size: 20px;
        font-weight: 400;
        line-height: 40px;
        margin: 0;
        max-width: 696px;
        margin-left: auto;

        @media (max-width:1199px) {
            font-size: 18px;
            line-height: 30px;
        }

        @media (max-width:991px) {
            margin: 0 auto;
        }
    }
}

/* solve-section */
.dream-section {
    background: #F9F9F9;
    padding: 100px 0;

    @media (max-width:991px) {
        padding: 90px 0;
        padding-bottom: 60px;
    }

    .container-fluid {
        margin: 0 auto;
        max-width: 1720px;
    }

    .dream-wrap {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;

        @media (max-width:1199px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .image-wrap {
        width: calc(100% - 588px);

        @media (max-width:1599px) {
            width: calc(100% - 500px);
        }

        @media (max-width:1399px) {
            width: calc(100% - 700px);
        }

        @media (max-width:1199px) {
            width: 100%;
        }

        .row {
            margin: 0 -18px;

            @media (max-width:1499px) {
                margin: 0 -9px;
            }

        }

        .image {
            margin: 0 9px;

            @media (max-width:1499px) {
                margin: 0;
            }

            @media (max-width:991px) {
                margin-bottom: 30px;
            }

            img {
                width: 100%;
            }
        }

    }

    .title {
        max-width: 588px;
        padding-left: 74px;

        @media (max-width:1599px) {
            padding-left: 20px;
        }

        @media (max-width:1399px) {
            max-width: 700px;
        }

        @media (max-width:1199px) {
            padding-left: 0;
            padding-bottom: 30px;
        }

        h2 {
            color: #1E3446;
            font-size: 100px;
            font-weight: 400;
            line-height: 120px;

            @media (max-width:1499px) {
                font-size: 60px;
                line-height: 80px;
            }

            @media (max-width:1399px) {
                font-size: 50px;
                line-height: 65px;
            }
        }

        p {
            color: #626B72;
            font-size: 20px;
            font-weight: 400;
            line-height: 40px;

            @media (max-width:1399px) {
                font-size: 18px;
                line-height: 30px;
            }
        }

    }
}


/* service-business */
.service-business {
    .container-fluid {
        margin: 0 auto;
        max-width: 1720px;
    }

    .image-wrap {
        .image {
             @media (max-width:991px) {
                 margin-bottom: 20px;
             }
            img {
                width: 100%;
            }
        }

        .col {
            &:last-child {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                @media (max-width:991px) {
                    display: block;
                }


                .image {
                    max-width: 550px;
                    max-height: 408px;

                    @media (max-width:991px) {
                        display: block;
                        max-width: 100%;
                        max-height: 100%;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}