/*--------------------------------------------------------------
                        4. wpo-footer
--------------------------------------------------------------*/
.wpo-site-footer {
    background: $black;
    position: relative;
    font-size: 15px;
    overflow: hidden;
    padding: 0 100px;

    @media (max-width:1399px) {
        padding: 0 50px;
    }

    @media (max-width:1199px) {
        padding: 0 20px;
    }
    @media (max-width:575px) {
        padding: 0;
    }

    ul {
        list-style: none;
    }

    p {
        color: $white;
    }

    li {
        color: $white;
    }

    .container {
        position: relative;
    }

    .wpo-upper-footer {
        padding: 90px 0;
    }

    @media (max-width: 991px) {

        .wpo-upper-footer {
            padding: 50px 0 0;
        }
    }

    @media (max-width: 767px) {

        .wpo-upper-footer {
            padding: 60px 0 0;
        }
    }

    @media (max-width: 991px) {

        .wpo-upper-footer .col {
            min-height: 235px;
            margin-bottom: 70px;
        }
    }

    @media (max-width: 767px) {

        .wpo-upper-footer .col {
            min-height: auto;
            margin-bottom: 60px;
        }
    }

    .widget-title {
        margin-bottom: 40px;
    }

    @media (max-width: 767px) {

        .widget-title {
            margin-bottom: 20px;
        }
    }


    .widget-title {
        h3 {
            font-size: 30px;
            color: $white;
            margin: 0;
            position: relative;
            font-family: $base-font;
            font-size: 35px;
            font-weight: 400;
        }
    }

    .about-widget {
        .logo {
            max-width: 180px;
        }
    }

    .about-widget {
        @media (max-width: 767px) {
            max-width: 350px;
        }

        p {
            color: $white;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            margin-bottom: 30px;
            margin-top: -10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .wpo-service-link-widget {
        padding-left: 70px;
    }

    .link-widget {
        overflow: hidden;


        @media screen and (min-width: 1450px) {
            padding-left: 85px;
        }

        @media (max-width: 1199px) {
            padding-left: 0px;
        }


        @media (max-width: 767px) {
            max-width: 350px;
        }

        ul {
            li {
                position: relative;
                font-size: 20px;
                font-weight: 400;

                a {
                    color: $white;

                    &:hover {
                        color: $theme-primary-color;
                    }
                }
            }

            li+li {
                padding-top: 10px;
            }
        }
    }

    .newsletter-widget {
        max-width: 350px;
        margin-left: auto;

        @media (max-width:991px) {
            margin-left: 0;
        }

        .input-fild {
            border: 1px solid #989898;
            color: $white;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            padding: 15px 20px;
            width: 100%;
            background: transparent;

            &:focus-visible {
                outline: none;
            }


            &::placeholder {
                color: $white;
            }
        }

        button {
            color: #000;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            line-height: 30px;
            width: 100%;
            padding: 15px;
            border: 0;
            margin-top: 30px;
        }
    }

    .social-widget {
        ul {
            li {
                a {
                    display: inline-block;
                    font-size: 18px;
                    color: $white;
                    margin-right: 20px;

                    &:hover {
                        color: $theme-primary-color;
                    }


                }
            }
        }
    }


    .wpo-lower-footer {
        text-align: center;
        position: relative;

        .row {
            padding: 20px 0;
            position: relative;
            border-top: 1px solid #313131;
        }

        .copyright {
            font-size: 15px;
            margin: 0;
            color: #929292;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;

            @media (max-width: 991px) {
                float: none;
                display: block;
                text-align: center;
                margin-bottom: 10px;
            }
        }

        .right {
            text-align: end;
            margin: 0 -23px;

            @media (max-width: 991px) {
                text-align: center;
                margin: 0;
            }

            li {
                display: inline-block;

                a {
                    color: #929292;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                    padding: 0 23px;
                }
            }

        }
    }

}